html,
body {
  width: auto !important;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: white;
  background-color: black;
}

h3 {
  font-size: 28px;
}

.page {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: black;
  margin-top: 168px;
  min-height: 100vh;
}

.page-content {
  padding-top: 30px;
}

/* ----- PROJECTS PAGE ----- */

.project-card {
  text-align: center;
  margin: 0;
}

.project-card-img {
  width: 45%;
  height: auto;
  margin: 10% 0 0 0;
  -webkit-box-shadow: 10px 12px 32px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 12px 32px -13px rgba(0, 0, 0, 0.75);
}

.project-description-box {
  background-color: black;
  width: 60%;
  height: auto;
  border-radius: 0.5em;
  padding: 1%;
  display: inline-block;
  margin-top: 2%;
  font-size: 0.75em;
}

.project-description-box img {
  width: 7%;
  margin: 2% 1% 0 1%;
}

.project-description-box p {
  margin: 2.5% 5% 5% 5%;
  font-size: 1.5em;
}

.project-card h3 {
  font-weight: 800;
  font-size: 1.75em;
  margin: 1.5% 0 0 0;
}

/* ----- CONTACT PAGE ----- */

.contact-page  {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: black;
  margin-top: 168px;
  min-height: calc(100vh - 168px);
}

.contact-icons-grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: black;
  border-radius: 5px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-icons-grid div {
  margin: 5%;
}

.icons {
  width: 100%;
}

.contact p {
  font-size: 0.9em;
  color: blue;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 500px) {
  /* ========== PAGES ========== */

  /* ----- ALL PAGES ----- */
  .page {
    margin-top: 284px;
    margin-bottom: 50%;
  }

  /* ----- PROJECT PAGE ----- */
  .project-card-img {
    width: 85%;
    height: auto;
    margin-top: 10%;
    -webkit-box-shadow: 10px 12px 14px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 12px 14px -13px rgba(0, 0, 0, 0.75);
  }

  .project-description-box {
    width: 65%;
  }

  .project-description-box img {
    width: 12.5%;
  }

  /* ----- CONTACT ----- */
  .contact-page {
    display: grid;
    margin-top: 240px;
    min-height: calc(100vh - 300px);
  }

  .contact-icons-grid {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline;
  }

  .contact-icons-grid div {
    margin: 15%;
  }

  .icons {
    width: 25%;
    height: auto;
  }

  .contact p {
    font-size: 0.9em;
    color: blue;
    text-align: center;
  }
}
