html,
body {
  width: auto !important;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #4a4a4a;
}

header {
  overflow: hidden;
  background-color: #00a9a6;
  padding: 1.25em;
  text-align: center;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
}

header h3 {
  float: left;
}

header nav {
  float: right;
  padding-right: 5vw;
}

.nav-button {
  padding: 1em;
  color: white;
}

.nav-button:hover {
  background-color: white;
  border-radius: 5%;
}

.tech-stack {
  margin: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; align-items: center; 
}

.stack-images {
  padding: 1% 5% 1% 5%;
}

/* footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #00a9a6;
  color: white;
  text-align: center;
  padding: 0;
} */

/* #picture-box {
  text-align: center;
  width: 15%;
} */
