/* @media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
} */

html {
  scroll-behavior: smooth;
  width: auto !important;
  overflow-x: hidden !important;
}

body {
  width: auto !important;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  margin: 0 auto;
}

header {
  position: fixed;
  box-shadow: 0 0 5px 0 gray;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  background-color: #00a9a6;
  color: white;
  text-align: center;
  padding: 0.5em;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #00a9a6;
  color: white;
  text-align: center;
  padding: 0;
}

#picture-box {
  text-align: center;
  width: 15%;
}
