html,
body {
  width: auto !important;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #4a4a4a;
  background-color: #f2f2f2;
}

/* ---------- HEADER ---------- */

header {
  overflow: hidden;
  background-color: #00a9a6;
  padding: 1.25em;
  text-align: center;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
}

header img {
  float: left;
  width: 8em;
  height: auto;
  border-radius: 50%;
  text-align: center;
}

/* ---------- NAVIGATION ---------- */
header nav {
  float: right;
  padding: 2vw 5vw 2vw 0;
}

.nav-button {
  float: left;
  color: white;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  font-size: 1em;
  line-height: 25px;
  border-radius: 4px;
}

.nav-button-active {
  float: left;
  color: white;
  background-color: #4a4a4a;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  font-size: 1em;
  line-height: 25px;
  border-radius: 4px;
}

/* ---------- ALL PAGES ---------- */

.page {
  text-align: center;
  background-color: #f2f2f2;
}

/* ---------- HOME PAGE ---------- */
.about-box {
  margin: 5% 15% 5% 15%;
}

.tech-stack {
  margin: 5% 10% 5% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.stack-images {
  padding: 1% 5% 1% 5%;
  text-align: center;
}

/* ---------- PROJECTS PAGE ---------- */
/* .projects-section {
  margin: 5% 10% 5% 10%;
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 5vw;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 5%;
} */

.project-card {
  text-align: center;
  margin: 0;
}

.project-card-img {
  width: 60%;
  height: auto;
  margin-top: 10%;
  -webkit-box-shadow: 10px 12px 32px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 12px 32px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 12px 32px -13px rgba(0, 0, 0, 0.75);
}

.project-description-box {
  background-color: white;
  width: 55%;
  height: auto;
  border-radius: 0.5em;
  padding: 1%;
  display: inline-block;
  margin-top: 2%;
  font-size: 0.75em;
}

.project-description-box img {
  width: 7%;
}

.project-card h3 {
  font-weight: 800;
}

/* ---------- CONTACT PAGE ---------- */

.panel-container {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.left-panel {
  background-color: red;
  grid-column: 1;
  /* box-shadow: inset 200px 200px 300px 200px rgba(0,0,0,0.72); */
  /* justify-content: center;
  align-items: center; */
}

.left-panel img {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.right-panel {
  background-color: white;
  grid-column: 2;
  /* justify-content: center;
  align-items: center; */
}

.right-panel img {
  width: 40%;
  height: auto;
  border-radius: 50%;
}

/* ---------- FOOTER ---------- */
footer {
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  background-color: #00a9a6;
  color: white;
  text-align: center;
  padding: 1%;
  margin-top: 5%;
}

@media screen and (max-width: 500px) {
  header {
    box-sizing: border-box;
    display: inline-grid;
    grid-template-rows: 50% 50%;
    grid-gap: 15%;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
  }

  header a {
    grid-row: 1;
    padding: 10%;
    float: none;
    margin: auto;
  }

  header nav {
    grid-row: 2;
    margin: auto;
    padding: 0 0 10vw 0;
  }

  .nav-button {
    float: left;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 0.9em;
    line-height: 25px;
    border-radius: 4px;
  }

  .project-card-img {
    width: 75%;
    height: auto;
    margin-top: 10%;
    -webkit-box-shadow: 10px 12px 14px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 12px 14px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 12px 14px -13px rgba(0, 0, 0, 0.75);
  }

  .project-description-box img {
    width: 12%;
  }
}

/* --------------- TESTING --------------- */
