html,
body {
  width: auto !important;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #4a4a4a;
}

/* ---------- HEADER ---------- */

header {
  overflow: hidden;
  background-color: #00a9a6;
  padding: 1.25em;
  text-align: center;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
}

header img {
  float: left;
}

/* ---------- NAVIGATION ---------- */
header nav {
  float: right;
  padding: 2vw 5vw 2vw 0;
}

.nav-button {
  float: left;
  color: white;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.nav-button-active {
  float: left;
  color: white;
  background-color: #4a4a4a;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* ---------- ALL PAGES ---------- */

.page {
  text-align: center;
}

/* ---------- HOME PAGE ---------- */
.tech-stack {
  margin: 5% 10% 5% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.stack-images {
  padding: 1% 5% 1% 5%;
  text-align: center;
}

/* ---------- PROJECTS PAGE ---------- */
/* .projects-section {
  margin: 5% 10% 5% 10%;
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 5vw;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 5%;
} */

.project-card {
  text-align: center;
}

.project-card-img {
  width: 75%;
  height: auto;
  margin-top: 10%;
}

.project-card h3 {
  font-weight: 800;
}

.project-card p {
}

/* ---------- FOOTER ---------- */
/* footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #00a9a6;
  color: white;
  text-align: center;
  padding: 0;
} */

@media screen and (max-width: 500px) {
  header {
    box-sizing: border-box;
    display: inline-grid;
    grid-template-rows: 50% 50%;
    grid-gap: 15%;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
  }

  header a {
    grid-row: 1;
    padding: 10%;
    float: none;
    margin: auto;
  }

  header nav {
    grid-row: 2;
    margin: auto;
    padding: 0 0 10vw 0;
  }
}
