header {
  position: fixed;
  overflow: hidden;
  background-color: black;
  padding: 1.25em;
  text-align: center;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
}

header img {
  float: left;
  margin-left: 2.5%;
  width: 8em;
  height: auto;
  border-radius: 50%;
  text-align: center;
}

header nav {
  float: right;
  padding: 2vw 5vw 2vw 0;
}

/* ---------- NAVIGATION ---------- */

.nav-button {
  float: left;
  color: white;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  font-size: 1em;
  line-height: 25px;
  border-radius: 4px;
}

.nav-button:hover {
  background-color: white;
  color: #4a4a4a;
}

.nav-button-active {
  float: left;
  color: white;
  background-color: #4a4a4a;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  font-size: 1em;
  line-height: 25px;
  border-radius: 4px;
}

@media screen and (max-width: 500px) {
  header {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-rows: 50% 15% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 15%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.5em;
  }

  header a {
    margin: 0;
  }

  header img {
    margin-left: 0;
  }

  .profile-picture {
    -ms-grid-row: 1;
    grid-row: 1;
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-rows: 100%;
    grid-template-rows: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15% 0 0 0;
    text-align: center;
  }

  header nav {
    -ms-grid-row: 2;
    grid-row: 2;
    margin: auto;
    padding: 0 0 10vw 0;
  }

  .nav-button {
    float: left;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 0.9em;
    line-height: 25px;
    border-radius: 4px;
  }
}
